name: Build Android APK

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'
          
      - name: Create Flutter project
        run: |
          flutter create --org com.sillytavern --project-name card_generator temp_project
          rm -rf android
          mv temp_project/android android
          rm -rf temp_project
          
      - run: flutter pub get
      
      - run: flutter build apk --debug
